<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="powroznik.christopher.save_to_activity">

    <library
        android:allowBackup="true"
        android:label="save-to-activity"
        tools:replace="android:label">

    </library>

</manifest>
